.form-footer{
  position: absolute;
  height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  bottom: 20px;
}
.form-button{
  float: right;
  font-size: 0.9rem !important;
  font-weight: bold;
  color: #006ac0;
  min-width: 60px !important;
  transition: all 200ms ease-in-out;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  &:hover{
    color: white;
    background: rgba(0, 106, 192, 0.32);
  }
}
